<div class="container">
  <div class="row">
    <div class="col">
      <h3>Dialogs and Alerts</h3>
      <button (click)="onShowAbout()">Show about</button>
      <button (click)="onShowDialog()">Show dialog</button>
      <button (click)="onShowInfo()">Show info</button>
      <button (click)="onShowWarning()">Show warning</button>
      <button (click)="onShowError()">Show error</button>
      <button (click)="onShowQuestion()">Show question</button>
      <button (click)="onShowConfirmation()">Show confirmation</button>
      <button (click)="onShowSaveCancel()">Show save cancel</button>
      <button (click)="onShowYesNo()">Show yes no</button>
      <button (click)="onShowYes()">Show yes</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Snackbars</h3>
      <button (click)="onShowShackbarInfo()">Show Snackbar info</button>
      <button (click)="onShowShackbarWarning()">Show Snackbar Warning</button>
      <button (click)="onShowShackbarError()">Show Snackbar Error</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Sidebars</h3>
      <button (click)="onShowSidebarLeft()">Show sidebar left</button>
      <button (click)="onShowSidebarRight()">Show sidebar right</button>
      <button (click)="onShowSidebarTop()">Show Sidebar top</button>
      <button (click)="onShowSidebarBottom()">Show sidebar bottom</button>
    </div>
  </div>
</div>
